.box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: $color-3;

    .boxElement:focus {
        background-color: $white;

    }

    .boxElement:hover {
        cursor: pointer;
    }

    .boxElement {
        margin: 5px;
        border: 4px solid $white;
        border-radius: 7px;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;

        text-align: center;
        word-wrap: break-word;
        float: inline-start;
        padding: 4px 0 2px 0;

        section {
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: 15px;

            .img-container {
                overflow: hidden;
                height: 200px;
                border-radius: 7px;
                margin: 5px;

                display: flex;
                align-items: center;
            }
        }
    }

    .is-focused {
        width: 100vw;
        height: 75vh;
        position: absolute;
    }
}