input {
    cursor: pointer;

    .loaded-btn,
    .loading-btn {
        cursor: not-allowed;
    }
}

.not-loading-btn {
    background-color: rgb(106, 184, 106);
}

.loading-btn {
    background-color: orange;

}

.loaded-btn {
    background-color: rgb(201, 106, 106);
}

.loaded-btn,
.loading-btn {
    cursor: not-allowed;
}

.btn-container {
    display: flex;
    justify-content: center;

    input {
        margin: 5px;
        border: none;
        border: 1px solid black;
        border-radius: 7px;
        padding: 5px;
    }
}