@import "./settings";
@import './components/btn';
@import './components/box';
@import './components/animations';
@import './components/header';
@import './components/searchbar.scss';


body {
    box-sizing: border-box;
}

h3 {
    background-color: $color-1;
    border-radius: 8px;
}